<h2>Show Waypoint</h2>

<ul>

  <li>
    <strong>Waypoint number:</strong>
    <%= @waypoint.waypoint_number %>
  </li>

  <li>
    <strong>Waypoint:</strong>
    <%= @waypoint.waypoint %>
  </li>

</ul>

<span><%= link "Edit", to: waypoint_path(@conn, :edit, @waypoint) %></span>
<span><%= link "Back", to: waypoint_path(@conn, :index) %></span>
