<h2><%= @user.name %>'s Info</h2>

<ul>
  <li>
    <strong>Bio:</strong>
    <%= @user.bio %>
  </li>
  <li>
  <strong>Email:</strong>
    <%= @user.email %>
  </li>

</ul>

<span><%= link "Edit", to: user_path(@conn, :edit, @user) %></span>
<span><%= link "Show Rides", to: user_route_detail_path(@conn, :show_by_user, @user) %></span>
<span><%= link "Back", to: user_path(@conn, :index) %></span>
