<h2><%= @user.name %>'s Info</h2>

<ul>
  <li>
  <strong>Email:</strong>
    <%= @user.email %>
  </li>
</ul>

<p>
<span><%= link "Show Rides", to: user_route_detail_path(@conn, :show_by_user, @user) %></span></p>
<script>
    document.write('<a href="' + document.referrer + '">Back</a>');
</script>
