    <input id="origin-input" class="controls" type="text"
        placeholder="Enter Ride starting point">
    <input id="destination-input" class="controls" type="text"
        placeholder="Enter Ride destination">
    <div id="map" style="clear:both; height:30em"></div> 
        
    <script src='<%= static_path(@conn, "/js/routepicker.js") %>'></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAZb6It08HrypHnxdYwZenAUtnlsitIOes&libraries=places&callback=initMap"
        async defer></script>
